<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>GPSystem</display-name>
  <servlet>
  	<description>
  	</description>
  	<display-name>AdminLoginServlet</display-name>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<servlet-class>servletpkg.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
  <display-name>PatientLoginServlet</display-name>
  	<servlet-name>PatientLoginServlet</servlet-name>
  	<servlet-class>servletpkg.PatientLoginServlet</servlet-class>
  </servlet>
  <servlet>
   <display-name>DoctorLoginServlet</display-name>
  	<servlet-name>DoctorLoginServlet</servlet-name>
  	<servlet-class>servletpkg.DoctorLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<display-name>addDiagnosisInfo</display-name>
  	<servlet-name>addDiagnosisInfo</servlet-name>
  	<servlet-class>servletpkg.addDiagnosisInfo</servlet-class>
  </servlet>
  <servlet>
  <display-name>AddDoctor</display-name>
  	<servlet-name>AddDoctor</servlet-name>	
  	<servlet-class>servletpkg.AddDoctor</servlet-class>
  </servlet>
  <servlet>
  	<display-name>BookAppointment</display-name>
  	<servlet-name>BookAppointment</servlet-name>
  	<servlet-class>servletpkg.BookAppointment</servlet-class>
  </servlet>
  <servlet>
  <display-name>CancelAppointment</display-name>
  	<servlet-name>CancelAppointment</servlet-name>
  	<servlet-class>servletpkg.CancelAppointment</servlet-class>
  </servlet>
  <servlet>
  	<display-name>checkPatientHistory</display-name>
  	<servlet-name>checkPatientHistory</servlet-name>
  	<servlet-class>servletpkg.checkPatientHistory</servlet-class>
  </servlet>
  <servlet>
  <display-name>DeleteDocAvailability</display-name>
  	<servlet-name>DeleteDocAvailability</servlet-name>
  	<servlet-class>servletpkg.DeleteDocAvailability</servlet-class>
  </servlet>
  <servlet>
  <display-name>diagnosePatient</display-name>
  	<servlet-name>diagnosePatient</servlet-name>
  	<servlet-class>diagnosePatient</servlet-class>
  </servlet>
  <servlet>
   <display-name>DisplayDocAppointment</display-name>
  	<servlet-name>DisplayDocAppointment</servlet-name>
  	<servlet-class>servletpkg.DisplayDocAppointment</servlet-class>
  </servlet>
  <servlet>
    <display-name>DisplayDocAvailability</display-name>
  	<servlet-name>DisplayDocAvailability</servlet-name>
  	<servlet-class>servletpkg.DisplayDocAvailability</servlet-class>
  </servlet>
  <servlet>
  <display-name>DocProfileInfomation</display-name>
  	<servlet-name>DocProfileInfomation</servlet-name>
  	<servlet-class>servletpkg.DocProfileInfomation</servlet-class>
  </servlet>
  <servlet>
    <display-name>DoctorsAvailability</display-name>
  	<servlet-name>DoctorsAvailability</servlet-name>
  	<servlet-class>servletpkg.DoctorsAvailability</servlet-class>
  </servlet>
  <servlet>
    <display-name>getSelectedAppointment</display-name>
  	<servlet-name>getSelectedAppointment</servlet-name>
  	<servlet-class>servletpkg.getSelectedAppointment</servlet-class>
  </servlet>
  <servlet>
   <display-name>Logout</display-name>
  	<servlet-name>Logout</servlet-name>
  	<servlet-class>servletpkg.Logout</servlet-class>
  </servlet>
  <servlet>
  <display-name>ManageAppointment</display-name>
  	<servlet-name>ManageAppointment</servlet-name>
  	<servlet-class>servletpkg.ManageAppointment</servlet-class>
  </servlet>
  <servlet>
    <display-name>PatientHelp</display-name>
  	<servlet-name>PatientHelp</servlet-name>
  	<servlet-class>servletpkg.PatientHelp</servlet-class>
  </servlet>
  <servlet>
  <display-name>PatientSendMessage</display-name>
  	<servlet-name>PatientSendMessage</servlet-name>
  	<servlet-class>servletpkg.PatientSendMessage</servlet-class>
  </servlet>
  <servlet>
  <display-name>ProfileInformation</display-name>
  	<servlet-name>ProfileInformation</servlet-name>
  	<servlet-class>servletpkg.ProfileInformation</servlet-class>
  </servlet>
  <servlet>
    <display-name>RegistrationServlet</display-name>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<servlet-class>servletpkg.RegistrationServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>RemoveDoctor</display-name>
  	<servlet-name>RemoveDoctor</servlet-name>
  	<servlet-class>servletpkg.RemoveDoctor</servlet-class>
  </servlet>
  <servlet>
    <display-name>replyMessage</display-name>
  	<servlet-name>replyMessage</servlet-name>
  	<servlet-class>servletpkg.replyMessage</servlet-class>
  </servlet>
  <servlet>
    <display-name>ResetPassword</display-name>
  	<servlet-name>ResetPassword</servlet-name>
  	<servlet-class>servletpkg.ResetPassword</servlet-class>
  </servlet>
  <servlet>
   <display-name>UpdateDocAvailability</display-name>
  	<servlet-name>UpdateDocAvailability</servlet-name>
  	
  	<servlet-class>servletpkg.UpdateDocAvailability</servlet-class>
  </servlet>
  <servlet>
    <display-name>updatePrescriptionStatus</display-name>
  	<servlet-name>updatePrescriptionStatus</servlet-name>
  	<servlet-class>servletpkg.updatePrescriptionStatus</servlet-class>
  </servlet>
  <servlet>
    <display-name>ViewDoctor</display-name>
  	<servlet-name>ViewDoctor</servlet-name>
  	<servlet-class>servletpkg.ViewDoctor</servlet-class>
  </servlet>
  <servlet>
  <display-name>viewMedicalHistory</display-name>
  	<servlet-name>viewMedicalHistory</servlet-name>
  	<servlet-class>servletpkg.viewMedicalHistory</servlet-class>
  </servlet>
  <servlet>
    <display-name>viewPrescription</display-name>
  	<servlet-name>viewPrescription</servlet-name>
  	<servlet-class>servletpkg.viewPrescription</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PatientLoginServlet</servlet-name>
  	<url-pattern>/PatientLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoctorLoginServlet</servlet-name>
  	<url-pattern>/DoctorLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addDiagnosisInfo</servlet-name>
  	<url-pattern>/addDiagnosisInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddDoctor</servlet-name>
  	<url-pattern>/AddDoctor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookAppointment</servlet-name>
  	<url-pattern>/BookAppointment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CancelAppointment</servlet-name>
  	<url-pattern>/CancelAppointment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>checkPatientHistory</servlet-name>
  	<url-pattern>/checkPatientHistory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteDocAvailability</servlet-name>
  	<url-pattern>/DeleteDocAvailability</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>diagnosePatient</servlet-name>
  	<url-pattern>/diagnosePatient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayDocAppointment</servlet-name>
  	<url-pattern>/DisplayDocAppointment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayDocAvailability</servlet-name>
  	<url-pattern>/DisplayDocAvailability</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DocProfileInfomation</servlet-name>
  	<url-pattern>/DocProfileInfomation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoctorsAvailability</servlet-name>
  	<url-pattern>/DoctorsAvailability</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getSelectedAppointment</servlet-name>
  	<url-pattern>/getSelectedAppointment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManageAppointment</servlet-name>
  	<url-pattern>/ManageAppointment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PatientHelp</servlet-name>
  	<url-pattern>/PatientHelp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PatientSendMessage</servlet-name>
  	<url-pattern>/PatientSendMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProfileInformation</servlet-name>
  	<url-pattern>/ProfileInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveDoctor</servlet-name>
  	<url-pattern>/RemoveDoctor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>replyMessage</servlet-name>
  	<url-pattern>/replyMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ResetPassword</servlet-name>
  	<url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateDocAvailability</servlet-name>
  	<url-pattern>/UpdateDocAvailability</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updatePrescriptionStatus</servlet-name>
  	<url-pattern>/updatePrescriptionStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewDoctor</servlet-name>
  	<url-pattern>/ViewDoctor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>viewMedicalHistory</servlet-name>
  	<url-pattern>/viewMedicalHistory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>viewPrescription</servlet-name>
  	<url-pattern>/viewPrescription</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>